<% content_for :breadcrumb do %>
    <ol class="breadcrumb">
      <li><%= link_to 'Quizzes', question_groups_path %></li>
      <li>Editing <%= @question_group.name %></li>
    </ol>
<% end %>

<h2>
  Questions
  <div class="pull-right">
    <%= render partial: 'question_groups/edit_quiz_modal' %>
    <button class="btn btn-primary btn-large" data-toggle="modal" data-target="#edit-quiz">
      Edit Quiz Name
    </button>
    <%= link_to "New Question", new_question_group_question_path(@question_group), class: "btn btn-primary btn-large" %>
  </div>
</h2>
<hr/>
<table class="table table-striped">
  <colgroup>
    <col></col>
    <col width="250"></col>
  </colgroup>
  <thead>
    <tr>
      <th>Question</th>
      <th>Type</th>
      <th>Answer</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>
