<%= simple_form_for question_group, defaults: { label: false }, html: { class: 'form-inline' } do |f| %>
  <div class="form-group">
    <%= f.error_notification %>
    <%= f.input :name, placeholder: 'Survey Name' %>
    <%= f.select :quiz_group_id, QuizGroup.all.map { |g| [g.name,g.id] }, {include_blank: true}, {class:'form-control'} %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-primary'  %>
  </div>
<% end %>
