<h2>
  Quizzes
  <div class="pb pt search-wrapper">
    <div class="p0 <% unless can_administer? %>col-xs-12<% else %>col-xs-8<% end %>">
      <input id="searchBox" class="form-control" placeholder="Search..."></input>
    </div>

    <% if can_administer? %>
      <div class="col-xs-4">
        <%= render partial: 'new_quiz_modal' %>
        <button class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#new-quiz">
          New Quiz
        </button>
        <%= link_to 'View Groups', quiz_groups_path, class:"btn btn-sm btn-primary pull-right" %>
      </div>
    <% else %>
      <div class="col-xs-12 text-center">
        <p><small>This is a list of all quizzes, you can choose to do them if you want, but they are <b>not</b> assigned.</small></p>
      </div>
    <% end %>
  </div>
</h2>
<hr/>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">

    <% @question_groups.each_with_index do |(group_name, group), index| %>
      <% name = QuizGroup.find(group_name).name || Other %>
      <div class="panel-heading collapse-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#<%=name.downcase.parameterize%>">
            <i class="glyphicon glyphicon-chevron-right"></i>&nbsp; <%= name %>
          </a>
        </h4>
      </div>
      <div id="<%=name.downcase.parameterize%>" class="panel-collapse collapse <% if index == 0 %>in<% end %>">
        <div>
          <table class="table table-striped quizzes-table">
              <colgroup>
              <col></col>
              <col width="45%"></col>
            </colgroup>
            <tbody>
              <%= render partial: "question_group", collection: group %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

  </div>
</div>
