<div class="login-screen-container">

  <div class="center-block text-center v-center">
    <div class="content">

      <div class="container">
        <div class="row" style="margin-top:20px">
          <%= image_tag('logo-white-text.png', height: '60px;') %>
          <h1>Quizzer</h1>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' } do |f| %>
              <fieldset>
                <hr class="colorgraph">
                <div class="form-group no-margin">
                  <%= f.input :email, required: true, autofocus: true, autocomplete: true, label: false, input_html: { class:'form-control input-lg' }, placeholder: "Email Address" %>
                </div>
                <div class="form-group no-margin pt">
                  <%= f.input :password, required: true, label: false, input_html: { class:'form-control input-lg' }, placeholder: "Password" %>
                </div>
                <hr class="colorgraph">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <%= f.submit "Sign in", class: "btn btn-primary btn-block btn-lg" %>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <%= link_to 'Forgot Password?', new_user_password_path, class: 'forgot-link btn-lg pull-right' %>
                  </div>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

